<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.package1.Student" name="s1">
 <property name="id">
 <value>11</value>
 </property>
 <property name="name" value="Arpita mittal" />
 <property name="address" ref="a1"/>
 </bean>
 
 
 <bean class="com.package1.Address" name="a1">
 <property name="street">
 <value>Street no. 1</value>
 </property>
 <property name="city">
 <value>Meerut</value>
 </property>
 <property name="country">
 <value>India</value>
 </property>
 
 
 </bean>
 
 
 </beans>